# Requirements Mic
pyaudio

# Requirements WebCam
opencv-python
pygrabber

# Requirements TTS
pyttsx3
gTTS

# Pyrebase4
# TTS

# Requirements STT
openai-whisper
setuptools-rust
numpy<2
torch 
torchvision 
torchaudio